################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.FuelEconomyLogWPF/
/.vs/
*.baml
/refint/
/obj/
/bin/
*.vsidx
/.vs/FuelEconomyLogWPF/v17/.suo
*.dll
/FuelEconomyLogWPF/bin/
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/mvvm/view/AboutView.baml
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/mvvm/view/AboutView.g.cs
*.g.*
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/mvvm/view/HomeView.baml
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/mvvm/view/GraphView.g.cs
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/mvvm/view/HomeView.g.cs
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/ref/FuelEconomyLogWPF.dll
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/refint/FuelEconomyLogWPF.dll
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/App.baml
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.csproj.CoreCompileInputs.cache
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.csproj.FileListAbsolute.txt
/FuelEconomyLogWPF/obj/
/FuelEconomyLogWPF/obj/Debug/
/FuelEconomyLogWPF/obj/FuelEconomyLogWPF.csproj.nuget.g.props
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/App.g.cs
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/App.g.i.cs
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.designer.deps.json
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.dll
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.g.resources
/FuelEconomyLogWPF/obj/Debug/net7.0-windows/FuelEconomyLogWPF.pdb
/ProjectEvaluation/
/v17/
/.vs/ProjectEvaluation/fueleconomylogwpf.projects.v5.2
/.vs/ProjectEvaluation/fueleconomylogwpf.metadata.v5.2
*.v5.2
*.v2
/.vs/FuelEconomyLogWPF
*.suo
/.vs/FuelEconomyLogWPF/DesignTimeBuild/.dtbcache.v2
/.vs/FuelEconomyLogWPF/v17/.futdcache.v2
